<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>big boston io, let's work together!</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/logo/png/logo-small-black.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/logo/png/logo-small-black.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo/png/logo-small-black.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/png/logo-small-black.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900"
          rel="stylesheet">
    <link href="/lib/remodal/remodal.css" rel="stylesheet">
    <link href="/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="/lib/lightbox2/css/lightbox.css" rel="stylesheet">
    <link href="/lib/plyr/plyr.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

</head>


<body class="overflow-hidden-x">


<!--===============================================-->
<!--    Fancynav-->
<!--===============================================-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <!--logo and label-->
    <a class="navbar-brand" href="#">
        <img src="/img/curate_logo_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        CURATE
    </a>

    <!--sign in button-->
    <div class="collapse navbar-collapse" id="nav1">
        <button class="btn btn-sm my-2 my-sm-0 btn-outline-secondary ml-auto" type="submit">Sign In</button>
    </div>
</nav>

<!--===============================================-->
<!--    End of Fancynav-->
<!--===============================================-->


<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">

    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="loader">
            <div class="line-scale-pulse-out-rapid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->


    <section class="text-center" id="software-header">

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="rounded-soft overflow-hidden" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll">
                        <img src="img/curate_logo_trans_black.png" width="600px">
                    </div>
                    <h1 class="overflow-hidden mt-4">here is some text...
                        <br class="d-sm-none" /><span class="typed-text font-italic text-serif font-weight-light" data-typed-text='["statement 1.","statement 2.","statement 3."]'></span></h1>
                    <p class="text-sans-serif">Overview or description of curate.</p>
                    <a class="btn btn-outline-dark rounded-capsule mt-4" href="#">Sign Up</a>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>


    <!---->

    <!--&lt;!&ndash; ============================================&ndash;&gt;-->
    <!--&lt;!&ndash; <section> begin ============================&ndash;&gt;-->
    <!--<section class="py-0" id="contact">-->
        <!--<div class="container text-center">-->
            <!--<div class="row h-100 align-items-center justify-content-center">-->
                <!--<div class="col-lg-8" data-zanim-lg='{"animation":"slide-left","delay":0.6}'-->
                     <!--data-zanim-trigger="scroll">-->
                    <!--<h1 class="text-underline d-inline-block mb-4 mb-lg-6">contact</h1>-->
                    <!--<p class="font-weight-bold mb-0">Phone:<span class="ml-2 font-weight-normal"><a-->
                            <!--class="text-700" href="tel:+13234324534">+5129983520</a></span></p>-->
                    <!--<p class="font-weight-bold mb-4">E-mail:<span class="ml-2 font-weight-normal font-italic"><a-->
                            <!--class="text-700" href="mailto:ruben@bigboston.io">ruben@bigboston.io</a></span></p>-->
                    <!--<h3 class="mt-7">Give us a shout</h3>-->
                    <!--<form action="/contactRequest" class="zform mt-4" method="POST">-->
                        <!--<input class="form-control border-300" type="hidden" name="to"-->
                               <!--value="ruben@bigboston.io">-->
                        <!--<input name="name" class="form-control border-300 mt-3" type="text" placeholder="Your Name"-->
                               <!--aria-label="Text input with dropdown button">-->
                        <!--<input name="email" class="form-control border-300 mt-3" type="email" placeholder="Your Email"-->
                               <!--aria-label="Text input with dropdown button">-->
                        <!--<input name="number" class="form-control border-300 mt-3" type="text" placeholder="Phone Number"-->
                               <!--aria-label="Text input with dropdown button">-->
                        <!--<textarea name="message" class="form-control border-300 mt-3" rows="11" placeholder="Your Message"-->
                                  <!--required></textarea>-->
                        <!--<button class="btn btn-block btn-dark mt-4" type="submit">Send<span-->
                                <!--class="fa fa-paper-plane ml-1"></span></button>-->
                        <!--<div class="zform-feedback mt-4"></div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; <section> close ============================&ndash;&gt;-->
    <!--&lt;!&ndash; ============================================&ndash;&gt;-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!--===============================================-->
<!--    Footer-->
<!--===============================================-->
<footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}"
        data-zanim-trigger="scroll">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2">
                <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span
                        class="indicator-arrow indicator-arrow-one"
                        data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span
                        class="indicator-arrow indicator-arrow-two"
                        data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
            </div>
            <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
                <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                    Copyright &copy; 2018 Big Boston IO, LLC.</p>
            </div>
            <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
                <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span
                        class="text-danger fas fa-heart mx-1"></span>by
                    <a class="text-600" href="">BIG</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.min.js"></script>
<script src="lib/loaders.css/loaders.css.js"></script>
<script src="js/stickyfill.min.js"></script>
<script src="lib/remodal/remodal.min.js"></script>
<script src="lib/jtap/jquery.tap.js"></script>
<script src="js/rellax.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
<script src="lib/plyr/plyr.min.js"></script>
<script src="js/typed.js"></script>
<script src="js/theme.min.js"></script>
<script src="lib/lightbox2/js/lightbox.min.js"></script>
<script src="lib/owl.carousel/owl.carousel.js"></script>

<script>
    let host = "www.bigboston.io";
    if ((host == window.location.host) && (window.location.protocol != "https:")){
        window.location.protocol = "https";
    }
</script>

</body>

</html>